@import "normalize.css";
// @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;500;600;700&display=swap');

html{
    font-size: 62.5%;  //10px 
}
body{
    font-family: 'TikTokFont', san-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
}
*{
    box-sizing: border-box;
    margin:0;
    padding: 0;
}
:root{
    --default-layout-header-height:60px;
    --default-layout-width:1150px;
    --default-layout-horizontal-spacer: 24px;
    --font-family:'TikTokFont', san-serif;
    --black:#000;
    --primary:#FE2C55;
}
button,input,[tabindex]{
    border: none;
    outline: none;
}
a{
    text-decoration: none;
}

@font-face {
    font-family: TikTokFont;
    src: url('../assets/fonts/TikTokFont-Regular.woff2');
    font-weight: 400;
}

@font-face {
    font-family: TikTokFont;
    src: url('../assets//fonts/TikTokFont-Semibold.woff2');
    font-weight: 600;
}

@font-face {
    font-family: TikTokFont;
    src: url('../assets//fonts/TikTokFont-Bold.woff2');
    font-weight: 700;
}

@font-face {
    font-family: TikTokDisplayFont;
    src: url('../assets/fonts/TikTokDisplayFont-Bold.woff2');
    font-weight: 700;
}